.cardMedia {
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-bottom: 0;
    padding-bottom: 0;
    display: block;
    margin: auto;
}

.cardMedia img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 1px solid #1976D2;
}